# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Deployment & Tooling
.vercel
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Local Configuration
.env
.env.local
*.log
